diff -Naur a/arch/arm/boot/dts/armada-385-linksys.dtsi b/arch/arm/boot/dts/armada-385-linksys.dtsi
--- a/arch/arm/boot/dts/armada-385-linksys.dtsi	2017-07-30 22:40:36.000000000 +0300
+++ b/arch/arm/boot/dts/armada-385-linksys.dtsi	2017-07-22 13:25:56.000000000 +0300
@@ -161,10 +161,11 @@
 		reg = <0x4c>;
 	};
 
-	expander0: pca9635@68 {
+	expander0: tlc59116@68 {
 		#address-cells = <1>;
 		#size-cells = <0>;
-		compatible = "nxp,pca9635";
+		#gpio-cells = <2>;
+		compatible = "ti,tlc59116";
 		reg = <0x68>;
 	};
 };
diff -Naur a/arch/arm/boot/dts/armada-385-linksys-rango.dts b/arch/arm/boot/dts/armada-385-linksys-rango.dts
--- a/arch/arm/boot/dts/armada-385-linksys-rango.dts	2017-07-30 22:40:36.000000000 +0300
+++ b/arch/arm/boot/dts/armada-385-linksys-rango.dts	2017-08-05 11:28:23.006551351 +0300
@@ -62,11 +62,13 @@
 	usb2@5 {
 		label = "rango:white:usb2";
 		reg = <0x5>;
+		linux,default-trigger = "usbport";
 	};
 
 	usb3_1@6 {
 		label = "rango:white:usb3_1";
 		reg = <0x6>;
+		linux,default-trigger = "usbport";
 	};
 
 	usb3_2@7 {
